# Mac Finder
.DS_Store

# Maven 
target/
build/

# Java
*.class

# Package
*.jar
*.war
*.ear

# IDE
.classpath
.project
.settings/
.idea/
*.iml
.externalToolBuilders

# Spring
.springBeans

# Testing
test-output

# logging
logs/
log/

# Binary folder
bin/

# Swagger
app/src/main/webapp/docs/swagger.json
/.metadata/
